.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 15px 0;
}

.headerLogo {
  height: 30px;
  cursor: pointer;
}

.searchContainer {
  position: relative;
}

.searchInput {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 35px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.searchInput::placeholder {
  color: #cbcccd;
  font-size: 16px;
}

.searchInputIcon {
  position: absolute;
  left: 7px;
  top: 10px;
  color: #bbbbbb;
}

.headerButton {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.buttonLogout {
  height: 30px;
  width: 115px;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  border: none;
  background-color: white;
  color: #c2175b;
  border: 1px solid #c2175b;
  font-family: "Roboto", sans-serif;
}

.buttonLoginSignup {
  background-color: white;
  color: #2cb1ba;
}

.buttonSold {
  background-color: #2cb1ba;
  color: white;
}

.buttonSignup {
  margin-right: 20px;
}
