.homeImgBackGround {
  background-image: url("../assets/images/hero2.jpeg");
  height: 590px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.homeImgBackGround > div {
  width: 1280px;
  margin: auto;
}

.homeHeroForme {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.homeHeroReady {
  height: 220px;
  width: 360px;
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
}

.homeHeroReady button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 14px;
  margin-top: 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.homeHeroReady button:hover {
  background: #09adb6;
}

.homeHeroReady button:active {
  background: #09a3ac;
}

/* Cards */

.homeCardsWrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}

.cardContainer {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.cardContainer div:last-child img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.cardAvatartUsername {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cardAvatartUsername > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.cardAvatartUsername > span {
  color: #999999;
  font-size: 12px;
}

.cardPriceSizeBrand {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.cardPriceSizeBrand > span {
  margin-top: 2px;
}

.cardPriceSizeBrand > span:not(:first-child) {
  color: #999999;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .homeCardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 1024px) {
  .homeCardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .homeCardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 160px;
    transition: all 0.3s ease-in-out;
  }
  .homeHeroReady {
    height: 140px;
    width: 100%;
    background-color: white;
    padding: 25px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
    transition: all 0.3s ease-in-out;
  }
  .homeImgBackGround {
    background-image: url("../assets/images/hero2.jpeg");
    height: 390px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 576px) {
  .homeCardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    transition: all 0.3s ease-in-out;
  }

  .homeHeroReady {
    height: 140px;
    width: 100%;
    background-color: white;
    padding: 25px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;

    transition: all 0.3s ease-in-out;
  }

  .homeHeroReady button {
    height: 45px;
    width: 187px;
    background-color: #2baeb7;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 14px;
    margin-top: 32px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }

  .homeImgBackGround {
    background-image: url("../assets/images/hero2.jpeg");
    height: 390px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }
}
